body {
  background-color: #1D2329; 
}

html {
  background-color: #1D2329;
}

.btn {
    background: transparent;
    outline: 0;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 66px;
    left: 505px;
}

.btn:focus, .btn:active, .btn.active, .btn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1 {
  color: #CDD9E5;
}

h2, h3, h4 {
  color: #768390;
}

p {
  color: #768390;
}


/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: 0;
  box-shadow: none;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: -80px;
  left: 890px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2D333B;
  min-width: 90px;
  box-shadow: none;
  z-index: 1;
  border-radius: 8px 8px 8px 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #768390;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #347C39} 

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}